.home{
    height: 94vh;
    width: 100%;    
    background-color: #fafafa;

    #inicio{
        position: absolute;
        top: 10px;
        font-size: 25px;        
    }
}

.controle-banco{    
    width: 100%;
    height: 100%;
}

#sem-atividades{
    color: rgb(145, 145, 145);
    margin-left: 2.5%;
    font-size: 17px;

}

.controle-saldo{    
    width: 96.9vh;
    border: 1px solid #000;
    border-radius: 5px;   
    padding: 10px;   
    float: left;     
    height: 47.3vh;
    
    #saldoInsuficiente{                
        font-size: 13px;
        color: red;
        margin-top: 15vh;
    }

    #poupancaInsuficiente{        
        font-size: 13px;
        color: red;
        
    }

    h1{
        margin-left: 2.5%;
        margin-top: 30px;
    }
    span{
        font-size: 20px;
        margin-left: 2.5%;
        font-weight: bold;
        margin-top: 30px !important;
    }
    #saldo{        
        color: DodgerBlue;
    }

    .exibiSaldo{        
        width: 50%;
        float: left;
    
        span{
            margin-left: 25px;
        }
    }

    .valor-guardado{                
        width: 50%;
        color: rgb(145, 145, 145);
        float: left;        
        text-align: right;

        span{
            margin-right: 25px;
        }

    }
}
#historico{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 20px;
      
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
}


.btn{
    margin-left: 2.5%;
    margin-top: 10px;
}
.icon{
    margin-left: 10px;
}
.fatura{
    width: 48.4vh;
    border: 1px solid #000;
    border-radius: 5px;        
    height: 47.3vh;
    min-height: 45vh;
    float: left;
    margin-left: 2px;
    span{
        font-size: 20px;
        margin-left: 2.5%;
        font-weight: bold;
    }
    .fatura-atual{
        margin-left: 6%;        
        width: 50%;
        float: left;
        margin-top: 2.5%;
    }
    #valor-fatura{
        color: DodgerBlue;        
    }
    .data-vencimento{                
        width: 30%;
        float: right;
        font-size: 10px !important;        
        color: rgb(145, 145, 145);
        text-align: right;
        margin-right: 7.5%;
        margin-top: 2.5%;
    }
}

.tabela-fatura{
    width: 100%;    
    margin-top: 22%;
}

#lancamentos{
    margin-left: 7.5%;
}

#fatura-table{    
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 85%;
    margin-left: 7.5%;   
    margin-top: 5%;       
}

.opcoes-pagamento{    
    width: 20%;
    height: 33vh;        
    line-height: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    float: left;
    margin-left: 2px;

    span{
        font-size: 20px;        
        font-weight: bold;  
        width: 80%;                
        margin-left: 10%;
    }

    .opcoes{                
        width: 82%;        
        margin-left: 9%;
        font-weight: bold;        
        height: 65%;
        margin-top: 50px;

        label{
            margin-left: 5px;
        }
      
        .pagamento{            
            border-radius: 5px;
            width: 50%;
            float: right;
            margin-top: -10px;
        }
        
        .finalizarPagamento{   
            margin-top: 10px;
        }

        .cancelarPagamento{       
            margin-top: 10px;
        }

        #warning-valor{
            color: red;
            font-size: 13px;      
        }
    }
}

#pgt-total{
    margin-top: 0px;
}

.pay{
    margin-left: 8%;
    margin-top: 10px;
}
.transferencia{
    width: 96.9vh;
    height: 15%;
    border: 1px solid #000;        
    border-radius: 5px;   
    float: left;   
    margin-top: 2px;
}
.transfere{    
    float: left;
    height: 75%;    
    width: 35%;
}

#transferencias-span{
    font-size: 20px;
    margin-left: 2.5%;
    font-weight: bold;
    padding-top: 10px;
    position: absolute;
    top: 5%;
    left: 1%;
}

.old{
    margin-left: 10%;
}

.pix{
    width: 95%;
    height: 75%;    
    float: left;
    margin-left: 2.5%;
    margin-top: 3%;        
    
    #icon{
        height: 80%;
        float: left;
        margin-left: 2.5%;        
    }

    p{
        font-size: 20px;
        margin-left: 2.5%;
        font-weight: bold;
        padding-top: 21px;
        float: left;
        padding-right: 8%;
    }

    .pix-funcoes{
        height: 100%;
        width: 20%;        
        float: left;
        margin-left: 15px;
        text-align: center;
        font-weight: bold;
        margin-top: -12px;
        border-radius: 5px;       
    }
    .pix-funcoes:hover{
        background-color: #dddddd;
        transition: 1s;
        cursor: pointer;
    }
}
.cartoes{
    width: 48.4vh;
    border: 1px solid #000;
    border-radius: 5px;            
    height: 15%;
    float: left;
    margin-top: 2px;
    margin-left: 2px;

    .opc-cartoes{        
        width: 30%;
        height: 100%;        
        float: left;
        margin-left: 2.5%;
        text-align: center;        
    }
    .opc-cartoes:hover{
        cursor: pointer;
    }
}
.icone{
    height: 50px !important;    
    margin-top: 5px;        
}
#ad{  
    width: 76.5%;
    height: 15%;
    float: left;
    margin-top: 50px;
}
.btn-guardar{
    float: left;
}
.btn-depositar{
    float: left;
}
.btn-resgatar{
    float: left;
}
.deposito{    
    width: 20%;        
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.guardar{    
    width: 20%; 
    float: left;       
    margin-left: 10px;
    margin-top: 10px;
}
.resgatar{
    width: 20%;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.icone-assistente-virtual{    
    border-radius: 50%;
    height: 70px;
    width: 70px;
    text-align: center;
    position: absolute;
    right: 1%;
    top: 91%;

    .icone{
        height: 50px !important;                  
    }
    .icone:hover{
        cursor: pointer;
    }
}
.chat-window{
    width: 15%;
    height: 30%;    
    position: absolute;
    right: 1px;
    bottom: 0px;
    border-radius: 10px 0px 0px 0px;
    color: #000;
    background-color: gainsboro;
    text-align: center;
    
    span{
        opacity: 0.5;
        font-weight: bold;
    }

    .chat-fundo{
        height: 75px;
        margin-top: 5%;
        opacity: 0.5;
    }

    .chat-header{
        height: 15%;
        width: 100%;
        background-color: #383c44;
        border-radius: 10px 0px 0px 0px;
        cursor: pointer;
        color: #fff;

        p{
            font-weight: bold;
            margin-left: 20px;
            line-height: 38px;            
        }       
    }
}
.aba{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color:  #383c44;
    border-radius: 10px 0px 0px 0px;
    cursor: pointer;
    height: 38px;
    width: 15%;
    color: #fff;
    
    p{
        font-weight: bold;
        margin-left: 20px;
        line-height: 38px;
    }

}

.opcoes-guardar{
    position: absolute;
    width: 20%;
    height: 30%;    
    left: 76.1%;
    top: 20px;
    line-height: 15px;
    border: 1px solid #000;
    border-radius: 5px;
}

.area-pix{
    width: 20%;
    height: 33vh;        
    line-height: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    float: left;
    margin-left: 2px;
    

    span{
        font-size: 20px;        
        font-weight: bold;  
        margin-left: 30px;
    }

    p{
        margin-top: 20%;
        margin-left: 9%;
        font-weight: bold;
    }

    .pix-impt{
        width: 82%;
        margin-left: 9%;
    }

    .continuar{
        margin-left: 9%;
    }
}

.dados-pix{
    position: absolute;
    width: 20%;
    height: 34%;    
    left: 60.55%;
    top: 34.5vh;
    line-height: 15px;
    border: 1px solid #000;
    border-radius: 5px;

    .dados{
        margin-top: 20px;
    }

    #chave{
        font-weight: bold;
        margin-left: 9%;        
    }

    #valor{
        float: right;
        margin-right: 9%;
    }

    #qr-code{
        width: 25%;
        margin-left: 37.5%;
        margin-top: 5%;
    }
}

.area-pix-enviar{
    width: 20%;
    height: 47.3vh;        
    line-height: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    float: left;
    margin-left: 2px;

    span{
        font-size: 20px;        
        font-weight: bold;  
        margin-left: 30px; 
    }
    
    p{
        margin-top: 20%;
        margin-left: 9%;
        font-weight: bold;
    }

    .pix-enviar{
        width: 82%;
        margin-left: 9%;
    }

    #p-send{
        margin-top: 5%;
    }

    .enviar{
        margin-left: 9%;
    }
    
    #saldoPixInvalido{
        color: red;
        font-size: 13px;
    }
}

.keys{
    float: left;
    width: 20%;
    height: 15%;        
    line-height: 15px;
    border: 1px solid #000;
    border-radius: 5px;    
    margin-top: 2px;

    span{
        font-size: 20px;        
        font-weight: bold;  
        margin-left: 30px;
        float: left;
    }
    ul{
        margin-top: 40px;
        margin-left: 5%;
    }

    button{    
        font-size: 20px;        
        font-weight: bold;
        background-color: #fff;
        border: none;
        float: left;
        margin-left: 100px;        
    }

}

.extrato{
    position: absolute;
    width: 23%;
    height: 48%;    
    left: 76.1%;
    top: 20px;
    line-height: 15px;
    border: 1px solid #000;
    border-radius: 5px;  

    h1{
        font-size: 20px;
        margin-left: 8%;
        font-weight: bold;
        margin-top: 15px !important;
    }
}