<nav class="navbar navbar-expand header-style pessoa-juridica">
    <div class="content">
        <div class="horizontal3">
           <div class="conteudo">
            <h1><span id="destaque">W</span>eb <span id="destaque">B</span>anking</h1>
            <h2>O banco da sua empresa, na tela do computador</h2>
            <h3>Faça transferências e consulte o extrato da sua conta PJ com segurança</h3>
         </div>
            <img src="../../assets/web-banking.png" alt="">
         </div>      
         <div class="horizontal4">
            <div class="conteudo">
               <h1>Crédito <span id="destaque">PJ</span></h1>      
               <h2>Capital de Giro e muito mais</h2>      
               <h3>Conte com o MeBank para organizar as finanças e impulsionar o seu negócio</h3>
            </div>
            <img src="../../assets/credito.png" alt="">
         </div>    
         <div class="vertical2">
            <h1><span id="destaque">Me</span>Bank <span id="destaque">PJ</span></h1>
            <h2>Contá grátis</h2>
            <h3>Conta grátis para sua empresa</h3>
            <ul>
               <li>MePay - Maquininha de cartão</li>
               <li>Links de pagamento</li>
               <li>Descontos em grandes marcas</li>
               <li>Consultores empresariais</li>
            </ul>
            <a routerLink="/account"><p>Conhecer</p></a>
         </div>  
         <div class="destaque2">
            <div class="conteudo">
               <h1><span id="destaque">Me</span>Pay</h1>
               <h2>Maquininha MePay: completa para o seu negócio</h2>
               <h3>Mais que uma maquininha: quem tem MePay pode ter conta, cartão, saques, PIX e muito mais sem pagar tarifas.</h3>
            </div>
            <img src="../../assets/maquina.png" alt="">
         </div>   
    </div>
</nav>
