<nav class="navbar navbar-expand header-style pessoa-fisica">

   <div class="content">
         
      <div class="vertical">
         <h1><span id="destaque">Me</span>Bank <span id="destaque">PF</span></h1>
         <h2>Conta grátis</h2>
         <h3>Conta sem tarifa com saques gratis</h3>
         <ul>
            <li>Saques nos Caixas 24Horas</li>
            <li>Transferências via PIX e TEDs ilimitadas</li>
            <li>Manutenção da conta</li>
            <li>Me Tag: Pedágio e estacionamento sem filas</li>
         </ul>
         <a routerLink="/account"><p>Conhecer</p></a>
      </div>
      <div class="horizontal1">  
         <div class="content">
            <h1><span id="destaque">P</span>revidência <span id="destaque">p</span>rivada</h1>
            <h2>Tranquilidade para o seu futuro e o de quem você ama</h2>
            <h3>Planeje sua independência financeira.</h3>
         </div>       
         <img src="../../assets/Previdencia.png" alt="">
      </div>
      <div class="horizontal2">
         <div class="content">
         <h1><span id="destaque">I</span>nvestimentos</h1>
         <h2>Conquiste seus objetivos. Invista pelo MeBank</h2>
         <h3>Investimentos no Brasil e no exterior, com tudo em um só app e do seu jeito.</h3>
      </div>
         <img src="../../assets/investments.png" alt="">
      </div>
      <div class="destaque">
         <div class="conteudo">
            <h1><span id="destaque">M</span>ercado <span id="destaque">F</span>uturo</h1>
            <h2>Compre e venda contratos de mercados futuros com corretagem zero</h2>
            <h3>Operações para quem precisa de proteção ou busca oportunidades de lucros com a oscilação do mercado</h3>
            <a routerLink="/account"><p>Conhecer</p></a>
         </div>
         <img src="../../assets/mercado-futuro.png" alt="">
      </div>    
   </div>

</nav>
