<nav class="navbar navbar-expand header-style">
    <div class="navbar-nav menu">
        <!-- <a class="nav-item nav-link font-weight-bold" routerLink="/" id="logo">MeBank</a>
        <a class="nav-item nav-link" routerLink="/cartao" id="cartao">Cartão</a>
        <a class="nav-item nav-link" routerLink="/pessoa-fisica" id="pf">Pessoa Física</a>
        <a class="nav-item nav-link" routerLink="/pessoa-juridica" id="pj">Pessoa Jurídica</a>
        <a class="acc" routerLink="/account">ACESSE SUA CONTA</a>  -->
        <ul>
            <a class="nav-item nav-link font-weight-bold" routerLink="/" id="logo"><li>MeBank</li></a>
            <a class="nav-item nav-link" routerLink="/cartao" id="cartao"><li>Cartão</li></a>
            <a class="nav-item nav-link" routerLink="/pessoa-fisica" id="pf"><li>Pessoa Física</li></a>
            <a class="nav-item nav-link" routerLink="/pessoa-juridica" id="pj"><li>Pessoa Jurídica</li></a>
        </ul>       
        <a class="acc" routerLink="/account">ACESSE SUA CONTA</a>
    </div>
</nav>