<nav class="navbar navbar-expand header-style cartao">
    <div class="beneficios-cartao">

        <div class="destaque">

            <div class="conteudo">
                <h1><span id="destaque-span">Me</span>Bank <span id=destaque-span>Cartões</span></h1>
                <h2>Dificuldade em controlar seus cartões ?</h2>
                <h3>Montamos uma carteira simplificada em busca da melhor organização de suas finanças.</h3>
                <a routerLink="/account"><p>Conhecer</p></a>
            </div>
            <div class="imagem">
                <img src="../../assets/P6YSG41.png" id="destaque-image" alt="">
            </div>
        </div>

        <div class="sub-destaque">

            <div class="sub-destaque-conteudo">
                <h1><span id="destaque-span">Me</span>Store</h1>
                <h2>A loja dentro do App do MeBank com milhares de produtos</h2>
                <h3>Gastei seus pontos em nossa loja comprando <br> itens exclusivos.</h3>
                <a routerLink="/account"><p>Conhecer</p></a>
            </div>

            <div class="imagem">    
                <img src="../../assets/store.png" id="sub-destaque-image" alt="">                                       
            </div>  


        </div>

        <div class="lateral-direita">
            <h1><span id="destaque-span">Me</span>Black</h1>
            <h2>O Mastercard®Black que dá 2,5 pontos por dólar gasto</h2>
            <ul>
                <li>4 entradas gratuitas a salas VIP em aeroportos do mundo todo</li>
                <li>Acesso livre à sala VIP do aeroporto de Guarulhos</li>
                <li>Isenção de anuidade por gasto mensal ou investimento</li>
                <li>RappiPrime grátis por 12 meses</li>
                <li>Até 6 cartões adicionais grátis</li>
            </ul>
        </div>

        <div class="lateral-esquerda">
            <h1><span id="destaque-span">Me</span>Cartão</h1>
            <h2>Cartão de crédito sem anuidade</h2>
            <ul>
                <li>Personalize o nome que vai no cartão e escolha a cor que combina com você</li>
                <li>Aproxime e pague</li>
                <li>Cartão de crédito virtual</li>
                <li>1º cartão de crédito adicional grátis</li>
                <li>Pontue em todas as suas compras</li>                
            </ul>
        </div>

        <div class="meio">
            <h1><span id="destaque-span">Me</span>Débito</h1>
            <h2>Compre no débito com benefícios</h2>
            <ul>
                <li>Cashback em compras acima de R$ 1000 em lojas nacionais e internacionais</li>
                <li>Pontue também no débito</li>                
                <li>Acumule milhas a cada compra</li>
                <li>Desconto em produtos exclusivos</li>
                <li>Acesso ao Me<span id="destaque-span">Launch</span></li>
            </ul>
        </div>

        <div class="ultima">

            <h1><span id="destaque-span">Me</span>World</h1>
            <h2>Cartão <span id="destaque-span">internacional</span></h2>
            <h3>Faça compras no exterior, em lojas físicas e on-line, com tarifas mais baixas, segurança e praticidade</h3>
        </div>

    </div>
</nav>